* {
    box-sizing: border-box;
    margin:0;
    font-family:sans-serif;
    color:black;
}

body {
    background-color: white;
}

.debug {
    /*border:1px solid red;*/
    
}

.bigwrapper {
    height:100%;
    width:100%;
    display: grid;
    grid-template-columns: auto 200px 200px 200px 200px 200px 200px auto;
    grid-template-rows: 100px 200px 200px 200px 200px auto;

}

.head-title {
    grid-column: 2 / 8;
    grid-row: 1 / 2;  
    font-size:70px;
    display:flex;
    justify-content: center;
    align-items: center;  
    overflow: hidden;
    color: rgba(255,255,255,1);
    text-shadow: 4px 4px 8px #000000;
    background-color:darkorange;
    border-radius: 100px;
    position:relative;
    z-index:1;
}

.container-hamburger {
    background-color: rgba(255,255,255,0.5);
    padding:20px;
    border-radius:40px;
    display: inline-block;
    cursor: pointer;
    position:absolute;
    left:60px;
    box-shadow:0 4px 10px 0 rgba(0,0,0,0.2), 0 4px 20px 0 rgba(0,0,0,0.19);
  }

  .container-hamburger:hover {
    background-color: rgba(255,255,255,0.8);

  }

  .container-hamburger:active {
    background-color: rgba(255,255,255,1);

  }
  
  .bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color:darkorange;
    margin: 6px 0;
    transition: 0.4s;
  }
  
  .change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
    background-color:red;   
    
  }

  .change .bar2 {opacity: 0;}
  
  .change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
    background-color:red;   
  }

.head-filter {
    grid-column: 2 / 3;
    grid-row: 2 / 7;    
    
    
    font-size:25px;
    overflow:hidden;

}


.flex-window-content {
    grid-column: 3 / 8;
    grid-row: 2 / 6;    
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: top;
    width:100%;
    min-width:75px;
    height:auto;
    min-height:150px;
    overflow: scroll;
    z-index: 1;
    padding-top: 12px;


}

.card {
    display:flex;
    flex-flow: column;
    margin:10px;
    justify-content: center;
    position: relative;
    width:200px;
    min-width:100px;
    max-width:400px;
    min-height: 150px;
    height:310px;
    z-index:2;
    transition: transform 1s,opacity 0.5s;box-shadow 1s,z-index 1s;
    box-shadow:0 4px 10px 0 rgba(0,0,0,0.2), 0 4px 20px 0 rgba(0,0,0,0.19);
    border-radius: 5px;
    opacity: 0.7;
}

.card:hover {
    opacity:1;
    transform:scale(1.1);
    box-shadow:0 8px 10px 0 rgba(0,0,0,0.4), 0 8px 20px 0 rgba(0,0,0,0.38);
    z-index:3;
}

.card-image {
    width: 90%;
    max-width:300px;
    min-width:100px;
    height: 50%;
    margin-left:auto;
    margin-right: auto;
    overflow: hidden;
}

.image {
    
    width:100%;
    height:100%;
    
}

.card-content {
    width: 100%;
    height: 35%;
    padding:5px 10px 0px 10px;
    position:relative;
    
     

}

.card-title {
    font-size:20px;
    z-index:1;
    
}

.card-rest {
    position: absolute;
    bottom:5px;

}


.card-uitgever {
    font-size:15px;
}


.card-genre {
    font-size:12px;
}

.card-categorie {
    font-size:12px;
}

.card-content-bottom-head {
    width: 100%;
    height: 15%;
    padding:0px 10px 0px 10px;
    display:flex;
    flex-direction: column;
    justify-content: left; 
    background-color: darkorange;
    
   
}

.card-content-bottom {
    display:flex;
    justify-content: center;
    color:white;

}

.card-stock {
    font-size:15px;
    flex:3;
    display:flex;
    justify-content: center;
    align-items: flex-end;
    color: inherit;
}



.card-rating {
    font-size:15px;
    flex:3;
    display:flex;
    justify-content: center;
    align-items: flex-end;
    color: inherit;
}

.card-price {
    font-size:20px;
    flex:3;
    display:flex;
    justify-content: center;
    align-items: flex-end;
    color: inherit;
}


.card-stock-number {
    flex:3;    
    font-size:15px;
    display:flex;
    justify-content: center;
    color: inherit;
    
}

.card-price-number {
    flex:3;
    font-size:15px;
    display:flex;
    justify-content: center;
    color: inherit;
}

.card-rating-number {
    flex:3;
    font-size:15px;
    display:flex;
    justify-content: center;
    color: inherit;
}

a:link {
    text-decoration: none;
}


.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 24px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    border-radius: 12px;
    border: 1px solid grey;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
  }
  
  .slider:hover {
    opacity: 1;
  }

  
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 24px;
    height: 24px;
    background: darkorange;;
    cursor: pointer;
    border-radius: 12px;
  }

  .filter-text {
    font-size: 20px;
    position: relative;

  }

  .filter-text-right {
    position: absolute;
    right:0;
  }

  
  .filter-text-small {
    font-size: 15px;
    position: relative;

  }


  .form-text-field  {
    padding: 7px;
    font-size: 15px;
    border: 1px solid grey;
    width: 100%;
    background: #d3d3d3;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
    border-radius:6px;
    opacity:0.7;
  }

  .form-text-field:hover {
      opacity: 1;
  }

  .form-text-field:focus {
    background: darkorange;
    color:white;
    opacity:1;
  }

 
    select#soflow-color {
        -webkit-appearance: button;
        -webkit-border-radius: 2px;
        -webkit-padding-end: 20px;
        -webkit-padding-start: 2px;
        -webkit-user-select: none;
    opacity:0.7;
    background-position: 93% center;
    background-repeat: no-repeat;
    border: 1px solid grey;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
    font-size: 15px;
    
    overflow: hidden;
    padding: 5px 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
 
    color: black;
    background-image: url(img1/pijl_omlaag2.gif);
    background-color: #d3d3d3;
   
    border-radius: 12px;
    
 }

select#soflow-color:hover {
    opacity:1;
}

select#soflow-color:focus {
    background-color:darkorange;
    color:white;
    opacity:1;
  }

  .button {
    background-color: #d3d3d3;
    color: black;
    margin-top:15px;
    margin-left:25px;
    
    padding: 7px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    border-radius:12px;
    border: 1px solid grey;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
    opacity:0.7;
    outline:none;

  }

  .button:hover {
      opacity:1;
      outline:none;
        }

  .button:active {
      background-color:darkorange;
      opacity:1;
      outline:none;
      box-shadow: 0px 5px 6px rgba(0, 0, 0, 0.1);
  }      

  .extra-margin {
      margin-left:30px;
  }

  /* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    
    position: fixed; /* Stay in place */
    z-index: 4; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    margin:0 auto;
    top: 110px;
    left: 270px;
    width: 70%; /* Full width */
    height: 80%; /* Full height */
    overflow: hidden; /* Enable scroll if needed */
    background-color: rgb(52,51,48);; /* Fallback color */
    background-color: rgba(52,51,48,0.9); /* Black w/ opacity */
    border-radius: 6px;
    }
    
    /* Modal Content (image) */
    .modal-content {
    margin: auto;
    display: block;
    width: 100%;
    max-width: 700px;
    border-radius: 5px;
    }
    
    /* Caption of Modal Image */
    .caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: rgba(255,167,55,1);
    font-size: 30px;
    padding: 10px 0;
    height: 150px;
    }
    
    /* The Modal message (background) */
    .modal-message {
    display: none; /* Hidden by default */
    
    position: fixed; /* Stay in place */
    z-index: 2; /* Sit on top */
    
    padding-top: 100px; /* Location of the box */
    left:0;
    top:0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(52,51,48); /* Fallback color */
    background-color: rgba(0,0,0,0); /* Black w/ opacity */
    }
    
    
    .message{
    font-size: 100px;
    display:block;    
    margin:auto;
    
    text-align: center;
    vertical-align: middle;
    width: 80%;
    max-width: 700px;
    color: rgba(255,167,55,1);
    background-color: rgba(52,51,48,1);
    
    height: 110px;
    
    }
    
    /* Add Animation */
    .modal-content, #caption {  
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
    }
    
    @-webkit-keyframes zoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
    }
    
    @keyframes zoom {
    from {transform: scale(0.1)} 
    to {transform: scale(1)}
    }
    
    /* The Close Button */
    .close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: rgba(126,89,32,1);
    font-size: 80px;
    font-weight: bold;
    transition: 0.3s;
    z-index:8;
    }
    
    
    .close:hover,
    .close:focus {
    color:rgba(220,133,31,1);
    text-decoration: none;
    cursor: pointer;
    }
    
    .close:active {
        color: rgba(255,167,55,1);
        text-decoration: none;
        cursor: pointer;
    }

    
.spel-detail {
    display:flex;
    flex-flow: column;
    margin:auto;
    justify-content: center;
    position: relative;
    width:95%;
    height:95%;
    z-index:2;
    background-color: white;
    box-shadow:0 4px 10px 0 rgba(0,0,0,0.2), 0 4px 20px 0 rgba(0,0,0,0.19);
    border-radius: 5px;
    opacity: 1;
}

.spel-detail-title {
    font-size:50px;
}

.spel-detail-text {
    font-size:20px;
}


.spel-card-content-bottom-head {
    width: 100%;
    height: 10%;
    padding:0px 10px 0px 10px;
    display:flex;
    flex-direction: column;
    justify-content: left; 
    background-color: darkorange;
      
}
